= form_for @article do |f|
  .row
    .ten.columns
      = f.label :title
      = f.text_field :title, class: "u-full-width", placeholder: "Title"
  .row
    .ten.columns
      = f.label :category
      = f.collection_select(:category_id, @categories, :id, :name, {},{class: "u-full-width"})
  .row
    .twelve.columns
      = f.label :body
      = f.text_area :body, class: "u-full-width", placeholder: "Your Article goes here", rows: "10"
  .row
    .six.columns
      = f.submit "Save", class: "button-primary eight columns"